@font-face {
    font-family: FuenteLato;
    src: url(../fuentes/Lato-regular.ttf);
}

#General
{
  margin: 20px;
  font-family: Lora;
}

#MasterMenu
{
  padding: 10px 0px;
  font-family: FuenteLato;
  font-style: italic;
}

#Footer
{
  border-top: solid black 1px;
  padding-top: 10px;
  text-align: center;
}

.tittle
{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  font-family: FuenteLato;
  font-variant: small-caps;
}

.resaltado
{
  background-color: yellow;
}
